.careers {
    .what-we-believe {
        p {
            font-size: 16px;
            margin-bottom: 50px;

            @media screen and (min-width: 1441px) {
                font-size: 25px;
            }

            @media screen and (min-width: 1681px) {
                font-size: 30px;
            }
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 100px;

            li {
                flex: 45%;
                width: 45%;
            }
        }

        .card {
            height: 100%;

            &-body {
                padding: 30px;
            }

            img {
                margin-bottom: 20px;
            }

            h4 {
                @include font-size(24px);

                @media screen and (min-width: 1441px) {
                    font-size: 28px;
                }

                @media screen and (min-width: 1681px) {
                    font-size: 34px;
                }
            }

            p {
                @include font-size(18px);
                margin-bottom: 0px;

                @media screen and (min-width: 1441px) {
                    font-size: 20px;
                }

                @media screen and (min-width: 1681px) {
                    font-size: 24px;
                }
            }
        }
    }

    .place-for-you {
        .accordion {
            p {
                @include font-size(24px);
                margin-bottom: 0px;

                @media screen and (min-width: 1441px) {
                    font-size: 28px;
                }

                @media screen and (min-width: 1681px) {
                    font-size: 34px;
                }
            }

            .img-box {
                text-align: right;

                @include breakpoint(ipad-max) {
                    text-align: center;
                }

                img {
                    width: 260px;

                    @include breakpoint(ipad-max) {
                        width: 200px;
                    }
                }
            }
        }
    }
}
