.insights-details {
    &__content {
        &--inner {
            p {
                @include font-size(17px);
                margin-bottom: 30px;
    
                @media screen and (min-width: 1441px) {
                    font-size: 20px;
                }
    
                @media screen and (min-width: 1681px) {
                    font-size: 24px;
                }
            }
    
            h5 {
                @include font-size(19px);
                margin-bottom: 0px;
    
                @media screen and (min-width: 1441px) {
                    font-size: 22px;
                }
    
                @media screen and (min-width: 1681px) {
                    font-size: 26px;
                }
            }
        }

        &--right {
            position: sticky;
            top: 100px;

            p {
                @include font-size(14px);
                margin-bottom: 40px;
    
                @media screen and (min-width: 1441px) {
                    font-size: 16px;
                }
    
                @media screen and (min-width: 1681px) {
                    font-size: 20px;
                }
            }

            a {
                font-weight: 300;
                color: var(--body-color);
                text-decoration: underline;
            }
        }
    }
}