.who-we-are {
    @include breakpoint(ipad-max) {
        padding-top: 73px;
    }

    @include breakpoint(mobile-max) {
        padding-top: 45px;
    }

    &__banner {
        position: relative;

        @include breakpoint(ipad-max) {
            padding: 70px 0;
        }

        img {
            margin: 0 auto;
            display: block;
            pointer-events: none;
            width: 65%;

            @include breakpoint(ipad-max) {
                width: 80%;
            }
        }

        ul {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 100%;

            li {
                display: flex;
                justify-content: space-between;

                &:first-child {
                    margin-bottom: 70px;

                    @include breakpoint(mobile-max) {
                        margin-bottom: 40px;
                    }
                }
            }
        }

        .card {
            max-width: fit-content;
            width: 100%;

            @media screen and (min-width: 1441px) {
                max-width: 295px;
            }

            @media screen and (min-width: 1681px) {
                max-width: 342px;
            }

            &-body {
                h3 {
                    @include font-size(28px);
                    background: linear-gradient(90deg, #0735fa -8.28%, #9473e4 70%);
                    color: transparent;
                    background-clip: text;
                    font-weight: 500;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    margin-bottom: 0;
                    min-height: 60px;

                    @media screen and (min-width: 1441px) {
                        font-size: 32px;
                    }

                    @media screen and (min-width: 1681px) {
                        font-size: 40px;
                    }

                    @include breakpoint(portrait-mobile-max) {
                        @include font-size(24px);
                    }
                }
            }
        }
    }

    .inner-page-banner {
        p {
            font-weight: 300;

            @include breakpoint(ipad-min) {
                width: 80%;
            }
        }
    }

    .at-a-glance {
        padding-top: 60px;

        &__title {
            position: sticky;
            top: 100px;
            margin-top: 70px;

            @include breakpoint(mobile-max) {
                position: static;
            }

            h2 {
                font-weight: 300;
                @include font-size(48px);

                @media screen and (min-width: 1441px) {
                    font-size: 58px;
                }

                @media screen and (min-width: 1681px) {
                    font-size: 70px;
                }
            }
        }

        &__shadow {
            height: 100px;
            background: rgb(17, 17, 17);
            background: linear-gradient(180deg, rgba(17, 17, 17, 1) 30%, rgba(255, 255, 255, 0) 100%);
            position: sticky;
            top: 60px;

            @include breakpoint(mobile-max) {
                top: 54px;
                height: 65px;
            }
        }

        ul {
            width: 70%;

            @include breakpoint(ipad-max) {
                width: 100%;
            }

            li {
                border-top: 1px solid var(--body-color);
                padding-top: 10px;
                margin-bottom: 30px;
            }
        }

        h3 {
            @include font-size(70px);
            font-weight: 100;
            @extend .text-gradient;

            @media screen and (min-width: 1441px) {
                font-size: 82px;
            }

            @media screen and (min-width: 1681px) {
                font-size: 100px;
            }
        }

        p {
            @include font-size(17px);
            font-weight: 500;
            margin-bottom: 0px;

            @media screen and (min-width: 1441px) {
                font-size: 20px;
            }

            @media screen and (min-width: 1681px) {
                font-size: 24px;
            }
        }
    }

    .leadership-team {
        .scroll-container {
            .content {
                gap: 80px;

                @include breakpoint(mobile-max) {
                    gap: 40px;
                }
            }

            .item {
                min-width: 355px;
                height: 100%;
                color: var(--body-color);

                @include breakpoint(portrait-mobile-max) {
                    min-width: 300px;
                }

                &-img {
                    object-fit: cover;
                    width: 100%;
                    height: 375px;
                    display: block;
                    pointer-events: none;
                }

                h5 {
                    @extend .text-gradient;
                    @include font-size(21px);
                    font-weight: 500;
                    padding-right: 10px;

                    @media screen and (min-width: 1441px) {
                        font-size: 25px;
                    }

                    @media screen and (min-width: 1681px) {
                        font-size: 30px;
                    }
                }

                span {
                    @include font-size(17px);
                    font-weight: 500;

                    @media screen and (min-width: 1441px) {
                        font-size: 20px;
                    }

                    @media screen and (min-width: 1681px) {
                        font-size: 24px;
                    }
                }

                &-footer {
                    padding: 30px 20px 0px 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    @include breakpoint(mobile-max) {
                        padding: 20px 10px 0 10px;
                    }

                    img {
                        @include breakpoint(mobile-max) {
                            width: 30px;
                        }
                    }
                }
            }
        }
    }

    .awards-recognitions {
        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 80px;

            @media screen and (min-width: 1681px) {
                width: 80%;
            }

            @media screen and (min-width: 1441px) {
                gap: 60px;
            }

            @include breakpoint(ipad-max) {
                gap: 50px;
            }

            @include breakpoint(mobile-max) {
                gap: 30px;
                justify-content: center;
            }

            li {
                width: 260px;
                position: relative;
                border: 1px solid var(--body-color);
                background-color: var(--body-bg);
                border-radius: 4px;

                @include breakpoint(ipad-max) {
                    width: 29%;
                }

                @include breakpoint(mobile-max) {
                    width: 44%;
                }

                &::before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    border: 1px solid var(--body-color);
                    position: absolute;
                    left: -10px;
                    bottom: -10px;
                    z-index: -1;
                    border-radius: 4px;
                }

                &.special {
                    background-color: #212121;
                }
            }
        }

        &__content {
            padding: 80px 14px 14px;

            h5 {
                @include font-size(21px);
                @extend .text-gradient;
                font-weight: 400;
                margin-bottom: 0;
                line-height: 1;

                @media screen and (min-width: 1441px) {
                    font-size: 25px;
                }

                @media screen and (min-width: 1681px) {
                    font-size: 30px;
                }
            }

            h3 {
                @include font-size(50px);
                line-height: 1;
                font-weight: 400;

                @media screen and (min-width: 1441px) {
                    font-size: 65px;
                }

                @media screen and (min-width: 1681px) {
                    font-size: 80px;
                }
            }

            p {
                @include font-size(14px);
                padding-top: 15px;
                line-height: 1;
                border-top: 1px solid #5f5f5f;
                font-weight: 700;
                margin-bottom: 0;

                @media screen and (min-width: 1441px) {
                    font-size: 16px;
                }

                @media screen and (min-width: 1681px) {
                    font-size: 20px;
                }
            }
        }
    }

    .history {
        .scroll-container {
            .content {
                gap: 40px;

                @include breakpoint(mobile-max) {
                    gap: 20px;
                }
            }

            .item {
                min-width: 380px;
                position: relative;
                padding-top: 90px;

                @include breakpoint(mobile-max) {
                    min-width: 275px;
                }

                &::before {
                    content: "";
                    width: calc(100% + 40px);
                    height: 1px;
                    background-color: var(--body-color);
                    position: absolute;
                    top: 7px;
                    left: 0;
                }

                &::after {
                    content: "";
                    width: 15px;
                    height: 15px;
                    background: linear-gradient(88.3deg, #5decf7 -0.63%, #dc44e9 88.46%);
                    border-radius: 50%;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                &:last-child {
                    &::before {
                        width: 100%;
                    }
                }

                h3 {
                    @include font-size(55px);
                    @extend .text-gradient;
                    font-weight: 100;

                    @media screen and (min-width: 1441px) {
                        font-size: 66px;
                    }

                    @media screen and (min-width: 1681px) {
                        font-size: 80px;
                    }
                }

                p {
                    @include font-size(14px);

                    @media screen and (min-width: 1441px) {
                        font-size: 16px;
                    }

                    @media screen and (min-width: 1681px) {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .locations {
        @include breakpoint(mobile-max) {
            margin-bottom: 60px;
        }

        &__content {
            flex: 33%;
            height: 100%;
            color: var(--body-color);

            @include breakpoint(mobile-max) {
                flex: 60%;
                min-width: 60%;
            }

            &-wrap {
                display: flex;
                overflow-x: auto;
                scrollbar-width: none;
                -ms-overflow-style: none; /* IE and Edge */
                scrollbar-width: none; /* Firefox */
                gap: 40px;

                &::-webkit-scrollbar {
                    display: none;
                }

                @include breakpoint(mobile-max) {
                    gap: 20px;
                }
            }

            img {
                object-fit: cover;
                width: 100%;
                display: block;
                pointer-events: none;
                min-height: 150px;
            }

            span {
                font-weight: 500;
                @include font-size(22px);
                margin-top: 30px;
                display: block;

                @media screen and (min-width: 1441px) {
                    font-size: 26px;
                }

                @media screen and (min-width: 1681px) {
                    font-size: 32px;
                }
            }
        }

        &__action {
            text-align: right;
            display: none;

            .btn {
                padding: 10px;

                img {
                    width: 22px;
                }
            }

            @include breakpoint(mobile-max) {
                display: block;
            }
        }
    }
}
