.accordion {
    &-item {
        background-color: transparent;
        border: none;
        color: var(--body-color);
        border-radius: 0 !important;

        &:last-child {
            border-bottom: 5px solid #5b5b5b;
        }
    }

    &-button {
        background-color: transparent;
        color: var(--body-color);
        @include font-size(29px);
        font-weight: 500;
        border-top: 5px solid #5b5b5b;
        border-radius: 0 !important;
        padding-right: 60px;

        &::before {
            content: "";
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;
            background-image: url("#{$images-path}/icons/add.svg");
            background-position: center;
            background-repeat: no-repeat;

            @include breakpoint(mobile-max) {
                width: 20px;
                height: 20px;
            }
        }

        &::after {
            display: none;
        }

        &:focus {
            border-top-color: #5b5b5b;
        }

        @media screen and (min-width: 1441px) {
            font-size: 34px;
        }

        @media screen and (min-width: 1681px) {
            font-size: 42px;
        }

        @include breakpoint(mobile-max) {
            @include font-size(22px);
        }

        &:not(.collapsed) {
            background-color: transparent;
            color: var(--body-color);
            border-image: linear-gradient(89.98deg, #0735fa -1.06%, #9473e4 100.84%) 1;
            border-top-width: 5px;
            border-top-style: solid;

            &::before {
                background-image: url("#{$images-path}/icons/minus.svg");
            }
        }
    }

    &-collapse {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            height: 5px;
            width: 100%;
            left: 0;
            bottom: -5px;
            background: linear-gradient(89.98deg, #0735fa -1.06%, #9473e4 100.84%);
            z-index: 10;
            transition: 0.3s;
        }
    }
}
