.we-work-carousel {
    @include breakpoint(ipad-max) {
        margin-top: 40px;
    }

    .owl-nav {
        button {
            position: absolute;
            top: 43%;
            transform: translateY(-50%);
            padding: 0;

            img {
                width: 60px;

                @include breakpoint(ipad-max) {
                    width: 45px;
                }
            }

            &:hover {
                background-color: transparent !important;
            }

            &.owl-prev {
                left: -70px;

                @include breakpoint(desktop-max) {
                    left: -50px;
                }

                @include breakpoint(ipad-max) {
                    left: -15px;
                }
            }

            &.owl-next {
                right: -70px;

                @include breakpoint(desktop-max) {
                    right: -50px;
                }

                @include breakpoint(ipad-max) {
                    right: -15px;
                }
            }
        }

        .disabled {
            cursor: not-allowed;
        }
    }

    .owl-dots {
        margin-top: 30px;

        .owl-dot {
            span {
                background-color: #4a4a4a;
            }

            &.active {
                span {
                    background-color: #ffffff;
                }
            }
        }
    }
}

.industries-carousel {
    .owl-nav {
        position: absolute;
        right: 15px;
        top: -100px;
        margin: 0;

        @media screen and (min-width: 1681px) {
            right: 120px;
        }

        @include breakpoint(large-desktop-min) {
            right: 100px;
            top: -120px;
        }

        @include breakpoint(ipad-max) {
            top: -100px;
        }

        @include breakpoint(mobile-max) {
            top: -80px;
            right: auto;
            left: 50%;
            transform: translateX(-50%);
        }

        button {
            border: 1px solid var(--body-color) !important;
            border-radius: 50% !important;
            width: 40px;
            height: 40px;
            margin: 5px 10px !important;
            display: inline-flex !important;
            align-items: center;
            justify-content: center;

            img {
                width: 21px;
            }

            @media screen and (min-width: 1441px) {
                width: 50px;
                height: 50px;

                img {
                    width: auto;
                }
            }

            &:hover {
                background-color: transparent !important;
            }
        }

        .disabled {
            cursor: not-allowed;
        }
    }
}

.benifits-perks-carousel {
    h2 {
        @include font-size(60px);
        @extend .text-gradient;
        margin-top: 20px;
        margin-bottom: 50px;

        @include breakpoint(mobile-max) {
            margin-bottom: 35px;
            margin-top: 0;
        }

        @media screen and (min-width: 1441px) {
            font-size: 75px;
        }

        @media screen and (min-width: 1681px) {
            font-size: 90px;
        }
    }

    p {
        @include font-size(33px);
        margin-bottom: 15px;
        min-height: 130px;

        @media screen and (min-width: 1441px) {
            font-size: 43px;
        }

        @media screen and (min-width: 1681px) {
            font-size: 52px;
        }
    }

    .img-box {
        text-align: center;

        img {
           @include breakpoint(ipad-min) {
            width: 90%;
           }
        }
    }

    .owl-nav {
        position: absolute;
        left: 0;
        top: 100%;
        margin-top: 10px;

        button {
            border: 1px solid var(--body-color) !important;
            border-radius: 50% !important;
            width: 40px;
            height: 40px;
            margin: 5px 10px !important;
            display: inline-flex !important;
            align-items: center;
            justify-content: center;

            img {
                width: 21px;
            }

            @media screen and (min-width: 1441px) {
                width: 50px;
                height: 50px;

                img {
                    width: auto;
                }
            }

            &:hover {
                background-color: transparent !important;
            }
        }

        .disabled {
            cursor: not-allowed;
        }
    }

    &__counter {
        margin-left: 160px;
        margin-top: 22px;
        font-size: 16px;
        display: inline-block;

        @include breakpoint(ipad-max) {
            margin-left: 0;
            text-align: center;
            display: block;
        }

        @media screen and (min-width: 1441px) {
            font-size: 20px;
        }

        @media screen and (min-width: 1681px) {
            font-size: 24px;
        }
    }
}

.career-banner-carosuel {
    .owl-stage {
        display: flex;
        align-items: center;
    }

    .item {
        img {
            max-height: 500px;
            object-fit: cover;
        }
    }

    &__actions {
        text-align: center;
        margin-top: 40px;

        .btn {
            padding: 0;
            margin: 0 10px;

            img {
                width: 45px;
            }
        }
    }
}