.search-box {
    background-color: var(--body-bg);
    padding: 20px;
    position: fixed;
    top: 70px;
    right: -100%;
    width: 100%;
    transition: 0.3s ease-in-out;
    display: flex;
    align-items: center;

    @include breakpoint(mobile-max) {
        top: 55px;
    }

    .form-control {
        border: none;
        color: var(--body-color);
        border-bottom: 1px solid var(--body-color);
        border-radius: 0;
        background-color: var(--body-bg);
        padding-right: 30px;
    }

    .btn {
        line-height: 1;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);

        img {
            width: 12px;
        }
    }

    &.active {
        right: 0;
    }
}
