// light theme colors
[data-theme="light"] {
    --body-bg: #ffffff;
    --body-color: #111111;

    .btn-link {
        img {
            filter: brightness(0%);
        }

        &:hover {
            color: $white !important;

            img {
                filter: none;
            }
        }
    }

    .header {
        &__wrap {
            @include breakpoint(ipad-max) {
                border-bottom: 1px solid rgba($black, 0.6);
            }
        }

        .navbar {
            &-nav {
                .nav-link {
                    text-shadow: 1px 1px 1px rgba($white, 0.6);
                }
            }
        }
    }

    .footer {
        border-top-color: #21212142;

        .social-links {
            .navbar-nav {
                .nav-link {
                    img {
                        filter: brightness(0%);
                    }
                }
            }
        }
    }

    .banner {
        @include breakpoint(ipad-max) {
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 70px;
                background-color: $white;
                left: 0;
                top: 0;
            }
        }

        @include breakpoint(mobile-max) {
            &::before {
                height: 52px;
            }
        }
    }

    .search-box {
        box-shadow: 0px 4px 14px 0px #00000026;
    }

    .about-us {
        &__left {
            &::before {
                background-color: #f1f1f1;
            }

            &--scroll-btn {
                .btn {
                    img {
                        filter: brightness(0);
                    }
                }
            }

            &--wrap {
                @include breakpoint(desktop-max) {
                    box-shadow: 0px 4px 14px 0px #0000001a;
                }
            }
        }

        .what-we-do {
            &__content {
                img {
                    filter: brightness(0%);
                }

                &:hover {
                    img {
                        filter: none;
                    }
                }
            }
        }

        .why-us {
            .security-layers {
                &__list {
                    &-content {
                        img {
                            filter: brightness(0%);
                        }
                    }
                }

                &--action {
                    .btn {
                        img {
                            filter: brightness(0%);
                        }
                    }
                }
            }

            .business-needs-partner__content {
                .card {
                    box-shadow: 0px 4px 14px 0px #00000026;
                    border: none;
                }
            }
        }

        .client-stories {
            &__content {
                &--right {
                    a {
                        background-color: #f2f2f2;
                        img {
                            filter: brightness(0%);
                        }
                    }
                }
            }
        }

        .whats-trending {
            &__content {
                img {
                    filter: brightness(0%);
                }
            }
        }
    }

    .we-work-carousel {
        .owl-nav {
            button {
                img {
                    filter: brightness(0);
                }
            }
        }

        .owl-dots {
            .owl-dot {
                span {
                    background-color: #d0d0d0;
                }

                &.active {
                    span {
                        background-color: #212121;
                    }
                }
            }
        }
    }

    .industries-carousel,
    .benifits-perks-carousel {
        .owl-nav {
            button {
                img {
                    filter: brightness(0);
                }
            }
        }
    }

    .text-gradient {
        background: linear-gradient(90.05deg, #38d0dc -1.7%, #b21ebe 33.18%);
        color: transparent;
        background-clip: text;
    }

    .dark-theme-logo {
        display: none;
    }

    .light-theme-logo {
        display: block;
    }

    .page-2 {
        .text-gradient {
            background: none;
            color: #1e73be;
        }
    }

    .accordion {
        &-button {
            &::before {
                filter: brightness(0);
            }
        }
    }

    .what-we-do {
        .industries {
            &__content {
                &-box {
                    &__top {
                        img {
                            filter: brightness(0) !important;
                        }
                    }
                }
            }
        }

        .our-core-services {
            .accordion {
                .img-box {
                    img {
                        filter: brightness(0);
                    }
                }
            }
        }
    }

    .who-we-are {
        &__content {
            .card {
                box-shadow: 0px 4px 14px 0px #00000026;
                border: none;
            }
        }

        .at-a-glance {
            &__shadow {
                background: rgb(255, 255, 255);

                &--top {
                    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0) 100%);
                }

                &--bottom {
                    background: linear-gradient(360deg, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0) 100%);
                }
            }
        }

        .awards-recognitions {
            li {
                &.special {
                    .awards-recognitions__content {
                        &--front,
                        &--back {
                            background-color: $white;
                        }
                    }
                }
            }
        }

        .locations {
            &__action {
                .btn {
                    img {
                        filter: brightness(0);
                    }
                }
            }
        }
    }

    .contact-us {
        .contact-form {
            &__form {
                .form-control,
                .form-select {
                    background-color: #ddd;
                }

                .form-check {
                    &-input {
                        filter: brightness(0);
                    }
                }

                .btn-outline-light {
                    img {
                        filter: brightness(0);
                    }
                }
            }
        }
    }

    .industry {
        &__content {
            &--inner {
                .card {
                    border: none;
                    box-shadow: 0px 4px 14px 0px #00000026;
                }
            }
        }
    }

    .careers {
        .place-for-you {
            .accordion {
                .img-box {
                    img {
                        filter: brightness(0);
                    }
                }
            }
        }
    }

    .insights {
        &-filters {
            background-color: #e6e8ec;
        }

        &-grid {
            &__results {
                .badge {
                    .btn {
                        img {
                            filter: brightness(0);
                        }
                    }
                }
            }
        }
    }
}

// dark theme colors
[data-theme="dark"] {
    --body-bg: #111111;
    --body-color: #ffffff;

    .header {
        &__top {
            .input-group {
                img {
                    filter: brightness(0) invert(1);
                }
            }
        }

        &__actions {
            img {
                filter: brightness(0) invert(1);
            }
        }

        .mobile-only-action {
            img {
                filter: brightness(0) invert(1);
            }
        }
    }

    .dark-theme-logo {
        display: block;
    }

    .light-theme-logo {
        display: none;
    }

    .insights {
        &-filters {
            &__content {
                .mobile-only {
                    .btn {
                        img {
                            filter: brightness(0) invert(1);
                        }
                    }
                }
            }
        }
    }
}
