html {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
    height: -webkit-fill-available;
    scroll-behavior: smooth;
    user-select: none;

    // Mozila Firefox scroll width
    scrollbar-width: thin;
    scroll-behavior: smooth;

    @media screen and (min-width: 1681px) {
        font-size: 18px;
    }

    @include breakpoint(portrait-mobile-max) {
        font-size: 14px;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

body {
    font-size: 1rem;
    font-family: $primary-font;
    font-weight: 300;
    position: relative;
    // overflow-x: hidden;
    min-height: -webkit-fill-available;
    background-color: var(--body-bg);
    transition: 0.3s ease-in-out;
    color: var(--body-color);
}

/**
* Firefox specific rule
*/
@-moz-document url-prefix() {
    body {
        font-weight: lighter !important;
    }
}

/* width */
::-webkit-scrollbar {
    height: 5px; /* height of horizontal scrollbar ← You're missing this */
    width: 5px; /* width of vertical scrollbar */
    border: 1px solid var(--body-bg);
}

/* Track */
// ::-webkit-scrollbar-track {
//     background: var(--border-color);
// }

/* Handle */
// ::-webkit-scrollbar-thumb {
//     background: var(--primary-color2);
// }

/* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//     background: var(--primary-color2);
// }
