.text-gradient {
    background: linear-gradient(90deg, #5decf7 0%, #dc44e9 41.12%);
    color: transparent;
    background-clip: text;
}

.page-2 {
    .text-gradient {
        background: none;
        color: #1e73be;
    }
}