/* Font */
$primary-font: 'Helvetica Neue', sans-serif;
$sohne-font: 'Sohne-Buch', sans-serif;

/* Common Color List */
$white: #FFFFFF;
$black: #000000;

/* Form List */
$form-label-color: #888888;
$form-label-color2: #17182C;
$form-bg: #EAEAEF;

// image path
$images-path: "../images" !default;